body {
	background: linear-gradient(to bottom right, #EAD1A1, #c6b593) fixed;
	margin: 0;
}
.topbar {
	overflow: hidden;
	background-color: gray;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 3vw;
	margin: 0;

}
.logo {
	position: absolute;
	width: 2.5vw;
	height: 2.5vw;
	margin-left: .5vw;
	margin-top: .25vw;
}

.navbutton {
	position: fixed;
	z-index: 1;
	margin-left: 5vw;
	background-color: gray;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vw;
	height: 3vw;
	width: 10%;
	transition-duration: 0.4s;
	cursor: pointer;
}

.navbutton:hover {
	background-color: #404347;

}

.container1 {
	position: absolute;
	margin-left: 42vw;
	margin-top: 5vw;
}

.container2 {
	position: absolute;
	margin-left: 42vw;
	margin-top: 15vw;
}

.buttons {
	position: absolute;
	margin-top: 25vw;
	margin-left: 42vw;
}

.button1 {
	background-color: #2980b9;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vw;
	width: 7.5vw;
	height: 2vw;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 4px;
	float: left;
}

.button1:hover {
	background-color: #707e87;
}

.button2 {
	background-color: #2980b9;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vw;
	width: 7.5vw;
	height: 2vw;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 4px;
	margin-left: 1vw;
}

.button2:hover {
	background-color: #707e87;
}