body {
	background: linear-gradient(to bottom right, #EAD1A1, #c6b593) fixed;
	margin: 0;
}

/* HomeButton Display Style */
.homeButton {
	background-color: #2980b9;
	border: none;
	color: white;
	padding: 2vw 8vw;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2vw;
	width: 50%;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 4px;
}

.homeButton:hover {
	background-color: #707e87;
}

/* Button Positioning */
.button1 {
	position: absolute;
	top: 30%;
	width: 50%;
	left: 25%;
}

.button2 {
	position: absolute;
	top: 45%;
	width: 50%;
	left: 25%;		
}

.topbar {
	overflow: hidden;
	background-color: gray;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3vw;
	margin: 0;

}

.homelink {
	text-align: center;
	font-size: 50px;
	left: 50;
	background-color: yellow;
	margin-top: 5vw;
}

.logo {
	position: absolute;
	width: 2.5vw;
	height: 2.5vw;
	margin-left: .5vw;
	margin-top: .25vw;
}

.inputfield {
	margin-top: 5vw;
	margin-left: 35vw;
	width: 30vw;
	height: 2vw;
	border-radius: 4px;
	border: 3px solid #ccc;
	transition: 0.5s;
}

.inputfield:focus {
	border: 3px solid #555;
}

.searchbutton {
	background-color: #2980b9;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5vw;
	width: 10%;
	height: 2vw;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 4px;
	margin-left: 35vw;
	margin-top: .25vw;
}

.searchbutton:hover {
	background-color: #707e87;
}